body {
	margin-left: 5em;
	display: inline-block;
  max-width: 100%;
  color: #474747;
  line-height: 28px;
  background: #F0F0F0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
}

h1{
	padding-left: 2em;
	padding-right: 2em;
	font-weight: bold;
	font-size: 22px;
}

h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 18px;
  margin-left: 1.7em;
}


.outer-container{
	background: white;
	padding-top: 1em;
	border-style: solid;
  border-color: #C0C0C0;
  border-width: thin;
  border-radius: .4em;
}

.page-title {
}


.page-container {
	font-size: 12;
}


.byline {
	margin-left: 2.5em;
	font-size: 18px;
	color: #606060;
}

.pod-img {
	margin-left: 2.5em;
}

.summary {
	clear: right;
  float: right;
  width: 683px;
  padding-left: 3em;
  padding-right: 2em;
  color: grey;
}

img {
	border: 1px solid #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
}


.pod-list{
	display: block; 
}

li {
	padding-top: 1em;
	padding-right: 2em;
}

.btn, .pod-list {
  background: #97b1c2;
  background-image: -webkit-linear-gradient(top, #97b1c2, #88a3b3);
  background-image: -moz-linear-gradient(top, #97b1c2, #88a3b3);
  background-image: -ms-linear-gradient(top, #97b1c2, #88a3b3);
  background-image: -o-linear-gradient(top, #97b1c2, #88a3b3);
  background-image: linear-gradient(to bottom, #97b1c2, #88a3b3);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn:hover, .pod-list:hover {
  background: #6f94ab;
  background-image: -webkit-linear-gradient(top, #6f94ab, #608094);
  background-image: -moz-linear-gradient(top, #6f94ab, #608094);
  background-image: -ms-linear-gradient(top, #6f94ab, #608094);
  background-image: -o-linear-gradient(top, #6f94ab, #608094);
  background-image: linear-gradient(to bottom, #6f94ab, #608094);
  text-decoration: none;
}